# =========================
# Cache do Python e Jupyter
# =========================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# =========================
# Datasets e Dados Brutos
# =========================
src/dataset/Cifar10/
src/dataset/Cifar100/
src/dataset/MNIST/
src/dataset/OxfordPets/
Cifar100/
*.npz

# =========================
# Modelos e Resultados
# =========================
src/results/
src/system/dados_compartilhados/
*.h5

# =========================
# Gráficos e Visualizações
# =========================
*.png
*.jpg
*.jpeg
*.pdf

# =========================
# Docker e Autogerados
# =========================
docker-tc/
*.generated.yml

# =========================
# Arquivos Temporários
# =========================
*~